# Dependency directories
/node_modules
/.pnp
.pnp.js

# Optional eslint cache
/.eslintcache

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn

# Optional Yarn Integrity file
.yarn-integrity

# Build files
/build
/dist

# Cache
/.cache

# IDE files
/.idea
/.vscode

# macOS
.DS_Store

# Windows
Thumbs.db
